.formContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  max-width: 800px;
  min-width: 400px;
  margin: 0 auto;
  position: absolute; /* Position it absolutely relative to the viewport */
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); /* This will center the form */
}

  
  .inputField {
    margin: 10px 0;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    width: 100%;
  }
  
  .submitButton {
    background-color: #007bff;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 10px;
    width: 100%;
  }
  
  .submitButton:hover {
    background-color: #0056b3;
  }
  .tokenMessage {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: green;
  color: white;
  padding: 10px;
  border-radius: 5px;
  animation: fadeOut 1s forwards;
  animation-delay: 1s; /* Delay the fade-out to show the message for 1s */
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
    visibility: hidden;
  }
}


